
/*-----insertion des polices-----*/

@font-face {font-family:"BilboReg";
			src: url('fonts/bilbo/Bilbo-Regular.otf');}

@font-face {font-family:"BilboStyle";
			src: url('fonts/bilbo/BilboSwashCaps-Regular.otf');}

@font-face {font-family:"afta";
			src: url('fonts/afta-sans/AftaSansThin-Regular.otf');}

/*-----Commun-----*/
header {color:white;}

nav {font-size: 20px;}

footer { background-color: #1e1c1c; color:white; padding-top: 10px}
footer a {color : white}

.quisommesnous, .franchise, .nosrestaurants  {background: url("img/cork-wallet.png") center fixed;}
body {font-family: "afta", Impact; background-color: white}

section {margin-bottom: 30px; margin-top: 30px; min-height : 200px; font-size: 1.3em;  }

h2 {margin-bottom:30px}

.bann { margin-top: 50px}

.franchise h2, .quisommesnous h2, .nosrestaurants h2 {font-family: "bilboReg", Impact;
	font-size: 3em}

/*-----page index-----*/

.index {background: url("img/accueil.jpg") no-repeat center fixed;
		max-height:100%;
		max-width:100%;
		font-family: "afta", Impact;
		-webkit-background-size: cover; /* pour anciens Chrome et Safari*/
  		background-size: cover; /*version standardisée */}

.index h1 {font-family: "bilboStyle", Impact;
			font-size: 8em;
			color: white;
			margin-top: 6%}

.index h2 {font-family: "bilboReg", Impact;
			font-size: 4em;
			color: white; }

.index  footer {
	position : absolute; margin-bottom : 0px; }



.index .panel-default {	 padding:0px;
						 background-color : rgba(255,255,255, 0.6);
						 margin-top: 15%;
	font-size: 1.4em;
						}


/*-----page qui sommes-nous-----*/

.imageqsn {

	border: 5px solid black;
	padding-right: 0px;
	padding-left: 0px;

}


/*-----nos restaurants-----*/

.nosrestaurants section { background-color : white; border: 1px solid black}



/*-----page franchise-----(voir styles communs)*/




/*-----media queries-----*/
@media screen and (min-width: 200px) and (max-width: 767px) {
	.nosrestaurants section { background-color : white;
		margin-left:9%; border: 1px solid black}

	.index h1 {font-size: 5em; margin-top : 17%; text-align:center;}
}