
@font-face {font-family:"BilboReg";
			src: url('fonts/bilbo/Bilbo-Regular.otf');}

@font-face {font-family:"BilboStyle";
			src: url('fonts/bilbo/BilboSwashCaps-Regular.otf');}

@font-face {font-family:"afta";
			src: url('fonts/afta-sans/AftaSansThin-Regular.otf');}

nav {font-size: 20px;}

footer {height:40px; background-color: #1e1c1c; color:white;}

.footerdiv {margin:auto;}

/*page index*/

.index {background: url("img/accueil.jpg") no-repeat center fixed;
		max-height:100%;
		max-width:100%;
		-webkit-background-size: cover; /* pour anciens Chrome et Safari*/
  		background-size: cover; /*version standardisée */}

 .index h1 {font-family: "bilboStyle", Impact;
			font-size: 8em;
			color: white;
			margin-top: 6%}

.index h2 {font-family: "bilboReg", Impact;
			font-size: 4em;
			color: white;
			}



.footerdiv {margin:auto;}

.index .panel-default {	 padding:0px;
						 background-color : rgba(255,255,255, 0.6);
						 margin-top: 10%
						}

/*page qui sommes-nous*/

.quisommesnous, .franchise, .nosrestaurants  {background: url("img/cork-wallet.png") center fixed;}
body {font-family: "afta", Impact; background-color: white}
section {margin-bottom: 40px; min-height : 200px; font-size: 1.3em}
h2 {margin-bottom:30px}

/*page qui sommes-nous*/

.bann_franch {max-height: 400px; max-width: 100%}

.franchise h2 {font-family: "bilboReg", Impact;
				font-size: 3em}
